body {
    color: black;
    margin: 0;
    padding: 0;
    align-items: center;
}

.fontt {
    font-size: 1.5em;
    color: white;
}

.header {
    background-color: rgb(0, 153, 255);
    width: 100vw;
}

.containerflex {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;

    align-items: center;

    flex-direction: row-reverse;

    position: fixed;


}

.containerflex1 {
    margin: 1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    align-items: center;

    flex-direction: row-reverse;
    width: 600px;
    height: auto;
}

.containerflex2 {
    margin: 4em;

    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    text-align: left;

}

.containerflex3 {
    margin: 1em;

    display: flex;
    flex-wrap: wrap;
    width: 567px;
    height: 350px;
    text-align: right;
}

.image {
    width: 100%;
    height: 100%;

}

.image-header {
    width: 100vw;
    height: 60vh;
    background: 40% / cover url(HTML-TP1-artisan-IMAGES/christina-wocintechchat-com-dFCOgR91H5M-unsplash.jpg);
    background-repeat: no-repeat;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}


.container1 .btn {
    position: absolute;
    font-size: 16px;
    padding: 340px 210px;
    border-radius: 5px;
    text-align: center;
    background: transparent;
    border: none;
    font-size:0;
    /*visibility: hidden;*/
    outline:none;
    display:block;
    cursor:pointer;
    color: transparent;
    flex-wrap: wrap;
  }

  .container3 .btn1 {
    position: absolute;
    font-size: 16px;
    padding: 340px 210px;
    border-radius: 5px;
    text-align: center;
    background: transparent;
    border: none;
    font-size:0;
    /*visibility: hidden;*/
    outline:none;
    display:block;
    cursor:pointer;
    color: transparent;
    flex-wrap: wrap;
  }
  
 


.box {
    min-width: 100px;
    font-size: 2em;
    padding: 1em;
    background-color: 2px solid blue;
}



.container {
    width: 1000px;
    height: 700px;
    
    
    background-image: url(HTML-TP1-artisan-IMAGES/catherina-schurmann-v0PeyK3KaO4-unsplash.jpg);
    /*background-repeat: repeat;
    background-position: top;*/
    background-size: cover;
    flex-wrap: wrap;

    
    
    
    
}


.container1 {
    width: 1000px;
    height: 700px;
    
    
    background-image: url(HTML-TP1-artisan-IMAGES/national-institute-LTFAllQyAb0-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 3em;
    flex-wrap: wrap;

    
    
    
    
}

.container2 {
    width: 1000px;
    height: 700px;
    
    
    background-image: url(HTML-TP1-artisan-IMAGES/deanna-alys-5Zg8QJpBU-8-unsplash1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 3em;
    flex-wrap: wrap;

    
    
    
    
}
.container3 {
    width: 1000px;
    height: 700px;
    
    
    background-image: url(HTML-TP1-artisan-IMAGES/christina-wocintechchat-com-dFCOgR91H5M-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 3em;
    flex-wrap: wrap;
    
    
    
    
}

.container4 {
    width: 1000px;
    height: 700px;
    
    
    background-image: url(HTML-TP1-artisan-IMAGES/curology-6CJg-fOTYs4-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 3em;
    
    
    flex-wrap: wrap;
    
}




.tab {
    margin-left: 30em;
    display: flex;
    flex-wrap: wrap;

   }

.tabb {
    margin-left: 3em;

   }

.tab2 {
    margin-left: 10em;
    display: flex;
    flex-wrap: wrap;
    }


* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .contact {
    background-color: #00b7ff;
  }
  .contact1 {
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 65px;
  }

.fontcontact {
    font-size: 0.7em;
}

.btncolorcontact {
    background: transparent;
    color: white;
}

.instaimg {
    position: relative;
    background-image: url(HTML-TP1-artisan-IMAGES/instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 680px;
    color: white;
}

.twiterimg {
    position: relative;
    background-image: url(HTML-TP1-artisan-IMAGES/twitter.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 1px;
    left: 36px;
}

.facebimg {
    position: relative;
    background-image: url(HTML-TP1-artisan-IMAGES/facebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 36px;
    color: white;
}


.footer {
    background-color: rgb(0, 153, 255);
}


/*.footer h1 {
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 3rem;
    text-align: center;
}*/

.footer1 {
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 3rem;
    text-align: center;
}


.iconDetails {
    margin-left:500%;
   float:left; 
   height:400px;
   width:300px;	
   } 

.iconDetails1 {
    margin-left:700%;
   float:left; 
   height:28px;
   width:145px;	
   } 
   
.container5 {
       padding:1%;
       float:left;
   }



.container6 {
    margin: 0 20px;
    width: 30%;
    max-width: 800px;
    text-align: justify;
    padding:1%;
}



.left {float:right;width:45px;}
.right {float:left;width:215px;}

.style1 {
    padding: 50px;
    background-image: url(HTML-TP1-artisan-IMAGES/curology-6CJg-fOTYs4-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px;
    left: 230px;
    width: 500px;
    height: 360px;
    position: relative;


    display: flex;
    flex-wrap: wrap;
  }

.style2 {
    position: relative;

    background-image: url(HTML-TP1-artisan-IMAGES/deanna-alys-5Zg8QJpBU-8-unsplash1.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    top: -82px;
    left: 537px;
    width: 100px;
    height: 100px;


    display: flex;
    flex-wrap: wrap;
  }

.style3 {
    position: relative;

    background-image: url(HTML-TP1-artisan-IMAGES/national-institute-LTFAllQyAb0-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    top: 115px;
    left: 1px;
    width: 100px;
    height: 100px;

}
